<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
     <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <ul>
      <% if current_user %>
        <li><%= current_user.username %></li>
        <li><%= link_to "Sign Out", session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_session_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
